.button {
  padding: 15px 20px;
  margin-left: 15px;
  box-shadow: 5px 5px 8px 4px rgba(253, 253, 253, 0.623);
}

p {
  margin-left: 100px;
  font-size: 2rem;
  color: white;
}

.line {
  border: 2px solid white;
  width:300px;
  height: 200px;
  border-radius: 8px;
}

body {
  background-color: black;
}