.todo-grid, .todo-input-grid{
  display: grid;
  grid-template-columns: 185px 120px 85px;
  grid-row: 0px;
  align-items: center;
  gap:10px 10px;
}

.add-button {
  background-color: rgb(27, 125, 27);
  color: white;
  border: none;
  padding: 10px 25px;
}

.delete-button {
  background-color: darkred;
  color: white;
  border: none;
  padding: 10px 23px;
}

.js-todo {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 2px;
}

.js-duedate {
  padding: 9px;
  border: 1px solid grey;
  border-radius: 2px;
}

p{

  height: 10px;
}